/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700&family=Port+Lligat+Slab&display=swap');

/* General */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hero */

.hero {
    background-image: url('https://res.cloudinary.com/dihur97qf/image/upload/v1674160158/viva-hero-image_quybxc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    background: linear-gradient(120deg, #fbbf24 60%, #fcd34d 60%);
}

/* Fonts */

nav, h1, h2, h3, h4, h5, a, button {
    font-family: 'Port Lligat Slab', serif;
}

p {
    font-family: 'Asap', sans-serif;
}

/* Nav */

.main-nav-logo {
    transform: rotate(-12deg);
    margin-top: 4px;
}

/* Active Nav Items */

.active {
    text-decoration: underline;
}

/* Footer */

footer {
    margin-top: auto;
}

/* Icons */
.fa-star {
    color: #fde047;
}

.fa-heart, .fa-heart-circle-plus {
    color: red;
}

.fa-heart-circle-minus {
    color: red;
}

.fa-circle-xmark {
    color: red;
}

.fa-pepper-hot {
    color: #16a34a;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-tiktok {
    color: white;
    transition: color 0.2s;
}

.fa-facebook:hover {
    color: #1877f2;
}

.fa-instagram:hover {
    color: #c32aa3;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-tiktok:hover {
    color: #ee1d52;
}

.chilli-pepper-divider {
    color: white;
}

.fa-check {
    color: #16a34a;
}

/* Featured Recipe */

.featured-recipe-section {
    background: linear-gradient(rgba(255, 255, 255, 0.676), rgba(255, 255, 255, 0.677)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674337219/featured-recipe-background_fhkhji.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Allauth Pages */

.accounts-background {
    background: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674680944/accounts-background_xjkxa8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form.login p, form.signup p {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form.login p:last-of-type {
    display: block;
}

form.signup p:last-of-type {
    margin-bottom: 30px;
}

form.login label, form.signup label {
    font-size: 1.25rem;
}

#id_remember {
    margin-left: 5px;
}

#id_login, #id_password, #id_username, #id_email, #id_password1, #id_password2 {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.25rem;
}

#id_login:placeholder, #id_password:placeholder {
    font-size: 1.25rem;
}

.primaryAction {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
}

.primaryAction:hover {
    transform: scaleX(1.05);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.errorlist {
    color: red;
    font-size: 1.125rem;
}

/* Comments Section */

.comments-section form textarea {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.25rem;
    background-color: white;
}

.comments-section form button {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
    background-color: #fbbf24;
}

@media only screen and (max-width: 1023px) { 
    .comments-section form textarea {
        width: 100%;
    }
}

/* Post A Recipe Form */

.post-recipe-section {
    background: linear-gradient(rgba(255, 255, 255, 0.676), rgba(255, 255, 255, 0.677)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674337219/featured-recipe-background_fhkhji.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form.post-recipe label, form.edit-recipe label {
    font-size: 1.125rem;
}

@media only screen and (max-width: 650px) { 
    
    form.post-recipe label, form.edit-recipe label {
        font-size: 1rem;
    }

    form #div_id_title input[type=text] {
        font-size: 1rem;
        width: 100%;
    }
}

.post-recipe > div, .edit-recipe > div {
    margin-bottom: 20px;
}

form input[type=text] {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.125rem;
    width: 50%;
}

.asteriskField {
    color: red;
}

#div_id_category .controls, #div_id_allergens .controls {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 5px;
    column-gap: 20px;
}

@media only screen and (max-width: 1023px) { 

    #div_id_category .controls, #div_id_allergens .controls {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 650px) { 
    
    #div_id_category .controls, #div_id_allergens .controls {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 10px;
        font-size: 1rem;
    }
}

form input[type=checkbox] {
    margin-right: 5px;
}

#div_id_featured_image, 
#div_id_gallery_image_1, 
#div_id_gallery_image_2, 
#div_id_gallery_image_3 {
    display: inline-block;
}

@media only screen and (max-width: 650px) { 
    
    #div_id_featured_image, 
    #div_id_gallery_image_1, 
    #div_id_gallery_image_2, 
    #div_id_gallery_image_3 {
    width: 100%;
    }

    #div_id_featured_image input, 
    #div_id_gallery_image_1 input, 
    #div_id_gallery_image_2 input, 
    #div_id_gallery_image_3 input {
    width: 100%;
    }

}

.post-recipe textarea, .edit-recipe textarea {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    font-size: 1.125rem;
}

@media only screen and (max-width: 650px) { 
    
    .post-recipe textarea, .edit-recipe textarea {
        font-size: 1rem;
    }
}


#div_id_excerpt textarea {
    height: 6rem;
}

form input[type=number] {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.125rem;
    width: 50%;
}

@media only screen and (max-width: 650px) { 
    
    form input[type=number] {
        font-size: 1rem;
    }

    form #div_id_difficulty select,
    form #div_id_status select,
    form input[type=file] {
        font-size: 1rem;
    }
}

form select {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.125rem;
}

#div_id_prep_time, 
#div_id_cooking_time,
#div_id_serves,
#div_id_difficulty {
    display: inline-block;
}

form button {
    width: 100%;
}

.cancel {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
    background-color: white;
    width: 100%;
}

.cancel:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.confirm {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
    background-color: rgb(251 191 36);
}

.confirm:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

#login-button {
    background-color: #16a34a;
}

#error_1_id_category {
    color: red;
}

.summernote-div iframe {
    width: 100%;
    max-width: 720px;
}

/* My Recipes */

.my-recipes-section {
    background: linear-gradient(rgba(255, 255, 255, 0.818), rgba(255, 255, 255, 0.819)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674337219/featured-recipe-background_fhkhji.jpg');
    background-position: center;
}

/* Edit Recipe */

.edit-recipe-section {
    background: linear-gradient(rgba(255, 255, 255, 0.676), rgba(255, 255, 255, 0.677)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674337219/featured-recipe-background_fhkhji.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Recipe Cards */

.recipe-card:hover {
    transform: scale(1.01);
}

/* My Favourites */

.my-favourites-section {
    background: linear-gradient(rgba(255, 255, 255, 0.818), rgba(255, 255, 255, 0.819)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674337219/featured-recipe-background_fhkhji.jpg');
    background-position: center;
}
