/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700&family=Port+Lligat+Slab&display=swap');

/* Google Fonts - 'Asap' & 'Port Lligat Slab */

/* font-family: 'Asap', sans-serif; */

/* font-family: 'Port Lligat Slab', serif; */

/* General */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hero */

.hero {
    background-image: url('https://res.cloudinary.com/dihur97qf/image/upload/v1674160158/viva-hero-image_quybxc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    background: linear-gradient(120deg, #fbbf24 60%, #fcd34d 60%);
}

/* Fonts */

nav, h1, h2, h3, h4, h5, a, button {
    font-family: 'Port Lligat Slab', serif;
}

p {
    font-family: 'Asap', sans-serif;
}

/* Nav */

.main-nav-logo {
    transform: rotate(-12deg);
    margin-top: 4px;
}

/* Footer */

footer {
    margin-top: auto;
}

/* Icons */
.fa-star {
    color: #fde047;
}

.fa-heart {
    color: red;
}

.fa-pepper-hot {
    color: #16a34a;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-tiktok {
    color: white;
    transition: color 0.2s;
}

.fa-facebook:hover {
    color: #1877f2;
}

.fa-instagram:hover {
    color: #c32aa3;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-tiktok:hover {
    color: #ee1d52;
}

.chilli-pepper-divider {
    color: white;
}

/* Featured Recipe */

.featured-recipe-section {
    background: linear-gradient(rgba(255, 255, 255, 0.676), rgba(255, 255, 255, 0.677)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674337219/featured-recipe-background_fhkhji.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Allauth Pages */

.accounts-background {
    background: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), url('https://res.cloudinary.com/dihur97qf/image/upload/v1674680944/accounts-background_xjkxa8.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form.login p, form.signup p {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form.login p:last-of-type {
    display: block;
}

form.signup p:last-of-type {
    margin-bottom: 30px;
}

form.login label, form.signup label {
    font-size: 1.25rem;
}

#id_remember {
    margin-left: 5px;
}

#id_login, #id_password, #id_username, #id_email, #id_password1, #id_password2 {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.25rem;
}

#id_login:placeholder, #id_password:placeholder {
    font-size: 1.25rem;
}

.primaryAction {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
}

.primaryAction:hover {
    transform: scaleX(1.05);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

/* Comments Section */

.comments-section form textarea {
    border: 1px solid black;
    padding: 5px;
    font-size: 1.25rem;
    background-color: #fef3c7;
}

.comments-section form button {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    border: 1px solid black;
    background-color: #fbbf24;
}

@media only screen and (max-width: 1023px) { 
    .comments-section form textarea {
        width: 100%;
    }
}