{% extends "base.html" %}

{% block content %}

<!-- 404 Section -->
<section class="error-background py-14 md:py-20 flex-1 flex flex-col items-center px-5">

    <!-- Heading -->
    <h2 class="text-center text-6xl mb-10">404</h1>
  
    <!-- Container -->
    <div class="border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6">
  
        <!-- Paragraph -->
        <p class="mb-3 text-xl text-center">A little lost amigo?</p>
  
        <!-- Paragraph -->
        <p class="mb-3 text-xl text-center">The page you're looking for doesn't exist!</p>

        <!-- Paragraph -->
        <p class="text-xl text-center mb-3">How about we send you on home?</p>

        <!-- Home Link -->
        <a href="{% url 'home' %}" class="cancel block text-center">Yes take me back home!</a>
        
    </div>

  </section>

{% endblock %}