{% extends "base.html" %}

{% block content %}

{% load cloudinary %}

{% load crispy_forms_tags %}

<!-- Edit Recipe Section -->
<section class="edit-recipe-section py-14 md:py-20 flex-1 flex flex-col items-center px-5">
    <div class="container mx-auto">

        <!-- If user is logged in -->
        {% if user.is_authenticated %}

            <!-- If user is the author of the recipe -->
            {% if request.user == form.instance.author %}

                <!-- If the form hasn't been submitted -->
                {% if posted is False %}

                <div class="mx-auto form-content border border-black w-full lg:w-10/12 xl:w-8/12 2xl:w-7/12 bg-amber-100 p-6">

                    <!-- Heading -->
                    <h1 class="text-center text-4xl mb-10">Edit Recipe</h1>

                    <!-- Username -->
                    <h3 class="text-lg">Editing as: {{ user.username }}</h3>

                    <!-- If Form Submit Failed Notification -->
                    {% if failed %}
                        <p class="text-lg text-red-500">
                            <strong>
                            Unfortunately your recipe edit form failed to submit. Please check all required fields are
                            correctly filled in and try again
                            </strong>
                        </p>
                    {% endif %}

                    <!-- Form -->
                    <form enctype="multipart/form-data" class="mt-3 edit-recipe" method="post" name="edit-recipe">
                        {{ form | crispy }}
                        {% csrf_token %}

                        <!-- Hidden Submit Button -->
                        <button class="hidden recipe-submit-button mt-3 primaryAction bg-amber-400" type="submit">Submit</button>
                    </form>

                    <!-- User Submit Button -->
                    <button class="user-submit-button mt-3 primaryAction bg-amber-400 w-full" onclick="return validateRecipeForm()">Submit</button>

                    <!-- Cancel Button -->
                    <button class="cancel bg-white mt-3">Cancel</button>

                </div>

                {% endif %}

                <!-- Cancel Confirmation Pop-up -->
                <div class="hidden pop-up-confirmation border border-black w-full md:w-7/12 lg:w-6/12 xl:w-7/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">
                    <h2 class="text-center text-4xl mb-10">Are you sure you want to cancel?</h2>
                    <p class="text-lg text-center">Your form progress will be lost and you will be returned to your recipes page!</p>
                    <p class="text-lg text-center mb-6">This cannot be undone!</p>
                    <a class="confirm block text-center" href="{% url 'my_recipes' %}">Yes take me to my recipes!</a>
                    <button class="cancel block mt-3 text-center">No take me back!</button>
                </div>

            {% else %}

            <!-- If user isn't the author of the recipe -->
            <div class="not-user-recipe-notification border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">
                <h2 class="text-center text-4xl mb-10">You can't edit a recipe that isn't yours!</h2>
                <p class="text-lg text-center mb-3">View your recipe list on the My Recipes page!</p>
                <a class="block confirm text-center confirm mb-3" href="{% url 'my_recipes' %}">My Recipes</a>
                <p class="text-lg text-center mb-3">Otherwise you can return to the homepage to view other recipes.</p>
                <a href="{% url 'home' %}" class="cancel block text-center">No take me back home!</a>
            </div>

            {% endif %}

        {% else %}

            <!-- If User Isn't Signed In -->
            <div class="no-sign-up-notification border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">
                <h2 class="text-center text-4xl mb-10">You have to be logged in to edit a recipe!</h2>
                <p class="text-lg text-center mb-3">If you have an account please log in!</p>
                <a id="login-button" class="block text-center confirm mb-3" href="{% url 'account_login' %}">Log In</a>
                <p class="text-lg text-center mb-3">Or you can sign up for an account today to post your own recipes!</p>
                <a class="confirm block text-center mb-3" href="{% url 'account_signup' %}">Well sign me up!</a>
                <p class="text-lg text-center mb-3">Otherwise you can return to the homepage to view other recipes.</p>
                <a href="{% url 'home' %}" class="cancel block text-center">No take me back home!</a>
            </div>

        {% endif %}

        {% if posted is True %}

            <!-- Recipe Successfully Edited Notification -->
            <div class="successful-form-submission border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">
                <h2 class="text-center text-4xl mb-10">Thank you for editing your recipe!</h2>
                <p class="text-lg text-center mb-3">Your recipe has been successfully submitted</p>
                <p class="text-lg text-center mb-3">Would you like to return to the home page or to your recipes?</p>
                <a class="confirm block text-center mb-3" href="{% url 'my_recipes' %}">Take me to my recipes!</a>
                <a href="{% url 'home' %}" class="cancel block text-center">Take me back home!</a>
            </div>

        {% endif %}

    </div>
</section>


{% endblock %}