{% extends "base.html" %}

{% block content %}

<section class="hero w-full h-[700px] flex items-center justify-center">
    <div class="hero-title p-10 border-2 border-black">
        <h1 class="text-6xl uppercase relative">Viva La Nacho
            <img class="absolute w-10 top-[-15px] right-[-5px] rotate-12" src="https://res.cloudinary.com/dihur97qf/image/upload/v1674072852/viva-la-nacho-favicon_kvc5ph.png" alt="Viva La Nacho Mexican Hat Logo">
        </h1>
        <h2 class="text-2xl">Spice up your kitchen</h2>
    </div>
</section>

<section class="hidden">
    <div class="mx-auto container">
        {% for recipe in recipe_list %}
            <div>
                <div class="image-container">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="card-img-top">
                    {% else %}
                    <img src="{{ recipe.featured_image.url }}" class="card-img-top">
                    {% endif %}
                    <div>
                        <p class="author">Author: {{ recipe.author }}</p>
                    </div>
                    <a href="#">
                        <h2>{{ recipe.title }}</h2>
                        <p>{{ recipe.excerpt }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}