{% extends "base.html" %}

{% block content %}

<!-- My Favourites Section -->
<section class="my-favourites-section bg-white py-14 md:py-20 flex-1 flex flex-col items-center px-5">

    <!-- Container -->
    <div class="container mx-auto">

        <!-- If User Is Logged In -->
        {% if user.is_authenticated %}

             <!-- Heading  -->
            <h1 class="text-center text-4xl mb-10">My Favourites</h1>

            <!-- If Unlike Is Successful -->
            {% if messages %}
                <div class="notification-message flex items-center justify-center mb-5">
                    {% for message in messages %}

                    <!-- Message Title -->
                    <h2 class="text-red-600 text-2xl mr-3">{{ message }}</h2>

                    <!-- X Mark Icon -->
                    <button class="notification-close-button">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
                        </svg>
                    </button>

                    {% endfor %}
                </div>
            {% endif %}

            <!-- My Favourites Cards Container -->
            <div class="my-favourites-container mx-auto container grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-x-7 gap-y-5 sm:gap-y-7 px-5 md:px-10">

                <!-- Recipes Loop -->
                {% for recipe in recipes %}

                    <!-- Recipe Card -->
                    <div class="my-favourites-card-content recipe-card">

                        <!-- Images -->
                        <div class="relative">

                            <!-- Image Placeholder -->
                            {% if "placeholder" in recipe.featured_image.url %}
                                <img class="object-center object-cover w-full h-[250px] md:h-[300px]" src="https://res.cloudinary.com/dihur97qf/image/upload/v1675020732/make-salsa-placeholder_abnk74.jpg" alt="Make salsa not war in pink lights on colourful wall">

                                <!-- Number of Likes Icon Tag -->
                                <div class="px-2 z-40 bg-amber-100 absolute top-3 right-3 text-lg text-left">Likes - {{ recipe.number_of_likes }} <i class="fa-solid fa-heart"></i></div>

                                <!-- Delete Button -->
                                <button class="unlike-button flex justify-center items-center absolute rounded-full top-2 left-3 text-3xl px-1 py-1 bg-amber-100" aria-label="Unlike button"><i class="fa-solid fa-circle-xmark"></i></button>

                            {% else %}

                                <!-- Featured Image -->
                                <img class="object-center object-cover w-full h-[250px] md:h-[300px]" src="{{ recipe.featured_image.url }}" alt="{{recipe.title}}">

                                <!-- Number of Likes Icon Tag -->
                                <div class="px-2 z-40 bg-amber-100 absolute top-3 right-3 text-lg text-left">Likes - {{ recipe.number_of_likes }} <i class="fa-solid fa-heart"></i></div>

                                <!-- Delete Button -->
                                <button class="unlike-button flex justify-center items-center absolute rounded-full top-2 left-3 text-3xl px-1 py-1 bg-amber-100" aria-label="Unlike button"><i class="fa-solid fa-circle-xmark"></i></button>
                            {% endif %}

                        </div>

                        <!-- Text Content -->
                        <div class="recipe-text-content p-5 bg-lime-100 border border-black">

                            <!-- Title -->
                            <h3 class="text-left text-3xl mb-3">{{ recipe.title }}</h3>

                            <!-- Excerpt -->
                            <p class="mb-5">{{ recipe.excerpt }}</p>

                            <!-- View Recipe Button -->
                            <div class="flex flex-row flex-wrap justify-between gap-y-3">
                                <a class="w-full text-center text-xl bg-green-600 px-2 py-1.5 border border-black hover:scale-105 hover:shadow" href="{% url 'recipe_details' recipe.slug %}">View recipe</a>
                            </div>

                        </div>

                        <!-- Unlike Recipe Notification -->
                        <div class="unlike-recipe-notification hidden p-5 bg-lime-100 border border-black">

                            <!-- Title -->
                            <h3 class="text-left text-3xl mb-3">Are you sure you want to unlike this recipe?</h3>

                            <!-- Paragraph -->
                            <p class="mb-5">This will remove the recipe from your my favourites list!</p>

                            <!-- Buttons -->
                            <div class="flex flex-row flex-wrap justify-between gap-y-3">

                                <!-- Unlike Button -->
                                <a class="inline-block remove-button w-5/12 text-center text-xl bg-red-500 px-2 py-1.5 border border-black hover:scale-105 hover:shadow" href="{% url 'unlike_recipe' recipe.id %}">Unlike</a>

                                <!-- Cancel Button -->
                                <button class="inline-block bg-green-600 cancel-unlike w-5/12 text-center text-xl px-2 py-1.5 border border-black hover:scale-105 hover:shadow">Cancel</button>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- If there are no recipes in the list -->
            {% if recipes|length == 0 %}
                <div class="mx-auto container">
                    <div class="no-recipes-notification border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">

                        <!-- Title -->
                        <h2 class="text-center text-4xl mb-10">You don't have any liked recipes!</h2>

                        <!-- Paragraph -->
                        <p class="text-lg text-center mb-3">Recipes that you like will be displayed here!</p>

                        <!-- Paragraph -->
                        <p class="text-lg text-center mb-3">View recipe full details and click the heart icon on the main image to like a recipe!</p>

                        <!-- Home Link -->
                        <a href="{% url 'home' %}" class="cancel block text-center">Ok, take me back home!</a>
                    </div>
                </div>
            {% endif %}

        {% else %}

            <!-- If User Isn't Signed In -->
            <div class="no-sign-up-notification border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">

                <!-- Title -->
                <h2 class="text-center text-4xl mb-10">You have to be logged in view your liked recipes!</h2>

                <!-- Paragraph -->
                <p class="text-lg text-center mb-3">If you have an account please log in!</p>

                <!-- Log In Link -->
                <a id="login-button" class="block text-center confirm mb-3" href="{% url 'account_login' %}">Log In</a>

                <!-- Paragraph -->
                <p class="text-lg text-center mb-3">Or you can sign up for an account today to post your own recipes!</p>

                <!-- Sign Up Link -->
                <a class="confirm block text-center mb-3" href="{% url 'account_signup' %}">Well sign me up!</a>

                <!-- Paragraph -->
                <p class="text-lg text-center mb-3">Otherwise you can return to the homepage to view other recipes.</p>

                <!-- Home Link -->
                <a href="{% url 'home' %}" class="cancel block text-center">No take me back home!</a>
            </div>

        {% endif %}
    </div>
</section>

{% endblock %}