{% extends "base.html" %}

{% block content %}

<!-- My Recipes -->
<section class="my-recipes-section bg-white py-14 md:py-20 flex-1 flex flex-col items-center px-5">

    <div class="container mx-auto">

        {% if user.is_authenticated %}

            <h1 class="text-center text-4xl mb-10">My Recipes</h1>
            <div class="my-recipes-container mx-auto container grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-x-7 gap-y-5 sm:gap-y-7 px-5 md:px-10">
                {% for recipe in my_recipes %}
                    <div class="my-recipe-card-content recipe-card">
                        <div class="relative">
                            {% if "placeholder" in recipe.featured_image.url %}
                                <img class="object-center object-cover w-full h-[250px] md:h-[300px]" src="https://res.cloudinary.com/dihur97qf/image/upload/v1675020732/make-salsa-placeholder_abnk74.jpg">
                                <div class="px-2 px-1 z-50 bg-amber-100 absolute top-3 right-3 text-lg text-left">Likes - {{ recipe.number_of_likes }} <i class="fa-solid fa-heart"></i></div>
                                <div class="px-2 px-1 z-40 bg-amber-100 absolute top-3 left-3 text-lg text-left">
                                    {% if recipe.status == 0 %}
                                        Draft <i class="fa-regular fa-pen-to-square"></i>
                                    {% else %}
                                        Published <i class="fa-solid fa-check"></i>
                                    {% endif %}
                                </div>
                            {% else %}
                                <img class="object-center object-cover w-full h-[250px] md:h-[300px]" src="{{ recipe.featured_image.url }}">
                                <div class="px-2 px-1 z-50 bg-amber-100 absolute top-3 right-3 text-lg text-left">Likes - {{ recipe.number_of_likes }} <i class="fa-solid fa-heart"></i></div>
                                <div class="px-2 px-1 z-40 bg-amber-100 absolute top-3 left-3 text-lg text-left">
                                    {% if recipe.status == 0 %}
                                        Draft <i class="fa-regular fa-pen-to-square"></i>
                                    {% else %}
                                        Published <i class="fa-solid fa-check"></i>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="recipe-text-content p-5 bg-lime-100 border border-black">
                            <h3 class="text-left text-3xl mb-3">{{ recipe.title }}</h3>
                            <p class="mb-5">{{ recipe.excerpt }}</p>
                            <div class="flex flex-row flex-wrap justify-between gap-y-3">
                                <a class="inline-block w-5/12 text-center text-xl bg-amber-400 px-2 py-1.5 border border-black hover:scale-105 hover:shadow" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
                                <button class="inline-block delete-button w-5/12 text-center text-xl bg-red-500 px-2 py-1.5 border border-black hover:scale-105 hover:shadow">Delete</button>
                                {% if recipe.status == 1 %}
                                <a class="w-full text-center text-xl bg-green-600 px-2 py-1.5 border border-black hover:scale-105 hover:shadow" href="{% url 'recipe_details' recipe.slug %}">View recipe</a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Delete Recipe Notification -->
                        <div class="delete-recipe-notification hidden p-5 bg-lime-100 border border-black">
                            <h3 class="text-left text-3xl mb-3">Are you sure you want to delete this recipe?</h3>
                            <p class="mb-5">This cannot be undone!</p>
                            <div class="flex flex-row flex-wrap justify-between gap-y-3">
                                <a class="inline-block delete-button w-5/12 text-center text-xl bg-red-500 px-2 py-1.5 border border-black hover:scale-105 hover:shadow" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
                                <button class="inline-block bg-green-600 cancel-delete w-5/12 text-center text-xl px-2 py-1.5 border border-black hover:scale-105 hover:shadow">Cancel</button>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

            <!-- If recipe list length equals 0 -->
            {% if my_recipes|length == 0 %}
                <div class="mx-auto container">
                    <div class="no-recipes-notification border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">
                        <h2 class="text-center text-4xl mb-10">You don't have any recipes!</h2>
                        <p class="text-lg text-center mb-3">Click the button below to post your first recipe!</p>
                        <a class="block text-center confirm mb-3" href="{% url 'post_recipe' %}">Post A Recipe</a>
                        <p class="text-lg text-center mb-3">Otherwise you can return to the homepage to view other recipes.</p>
                        <a href="{% url 'home' %}" class="cancel block text-center">No take me back home!</a>
                    </div>
                </div>
            {% endif %}

        {% else %}

            <!-- If User Isn't Signed In -->
            <div class="no-sign-up-notification border border-black w-full md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-amber-100 p-6 mx-auto">
                <h2 class="text-center text-4xl mb-10">You have to be logged in view your recipes!</h2>
                <p class="text-lg text-center mb-3">If you have an account please log in!</p>
                <a id="login-button" class="block text-center confirm mb-3" href="{% url 'account_login' %}">Log In</a>
                <p class="text-lg text-center mb-3">Or you can sign up for an account today to post your own recipes!</p>
                <a class="confirm block text-center mb-3" href="{% url 'account_signup' %}">Well sign me up!</a>
                <p class="text-lg text-center mb-3">Otherwise you can return to the homepage to view other recipes.</p>
                <a href="{% url 'home' %}" class="cancel block text-center">No take me back home!</a>
            </div>

        {% endif %}

    </div>

</section>

{% endblock %}