{% extends "base.html" %}

{% block content %}

{% load cloudinary %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}

    <p class="text-base">Posting as: {{ user.username }}</p>
    <form enctype="multipart/form-data" class="mt-3" method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <button class="mt-3" type="submit">Submit</button>
    </form>
{% else %}
    <p class="text-base">I'm sorry amigo, you have to be logged in to post a recipe!</p>
{% endif %}

{% if posted %}

    <h2>It posted! Hell yeah</h2>

{% endif %}

{% endblock %}